<h1>New Admin</h1>

<%= form_with model: admin do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% admin.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
    <% admin.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
