<p id="notice"><%= notice %></p>

<h1>Bulletins</h1>

<br>
<%= link_to 'New Bulletin', new_bulletin_path %>
<br></br>

<table class="table table_hover table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Topic</th>
      <th scope="col">Body</th>
      <th scope="col">Sent</th>
      <th scope="col">User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
     
        <td><%= bulletin.from %></td>
        <td><%= bulletin.to %></td>
        <td><%= bulletin.topic %></td>
        <td><%= bulletin.body %></td>
        <td><%= bulletin.flag %></td>
        <td><%= bulletin.user_email %></td>
        <td><%= link_to 'View', bulletin %></td>
       <!-- <td><%= link_to 'Edit', edit_bulletin_path(bulletin) %></td> -->
        <td><%= link_to 'Delete', bulletin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

