<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="card">
<div class="card-body>

  <div class="mb-3">
    <%= form.label :email , { class: "form-label"}%>
    <%= form.text_field :email , { class: "form-control"} %>
  </div>
<br>
  <div class="mb-3">
    <%= form.label :password , { class: "form-label"} %>
    <%= form.text_field :password , { class: "form-control"}%>
  </div>
<br>
  <div class="mb-3">
    <%= form.label :admin , "Is This an Admin Account ?" , { class: "form-label"} %>
    <%= form.text_field :admin , { class: "form-control", placeholder: "Type True or False" }%>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<br>
  </div>
  </div>
<% end %>
