<%= form_with(model: userlist, local: true) do |form| %>
  <% if userlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userlist.errors.count, "error") %> prohibited this userlist from being saved:</h2>

      <ul>
      <% userlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>
-->

<div class="card">
<div class="card-body">

  <div class="mb-3">
    <%= form.label :topic , { class: "form-label"} %>
    <%= form.text_field :topic, { class: "form-control" } %>
  </div>

 <div class="mb-3">
    <%= form.label :receipients, { class: "form-label"}  %>
    <%= form.text_field :receipients , { class: "form-control" }%>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Create Userlist", class: "btn btn-primary" %>
  </div>
<br>
  </div>
  </div>
<% end %>
