<!DOCTYPE html>
<html>
  <head>
    <title>Evomini</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
        <h1>Granicus LLC Home Page</h1>
    </div>
   
   <!--, url: "/login", method: :post, -->
    <%= form_with(model: @login ,url: login_path, local: true) do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
  <br>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
  <br>
  <div>
  <%#<% debugger %>
    <%= form.submit "Login"  %>
  </div>
<% end %>
<br>
<%= link_to "New User", admins_path %>
  </body>
</html>
