<!DOCTYPE html>
<html>
  <head>
    <title>Evomini</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <!-- <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div> -->
<p class="notice p-3 mb-2 bg-danger text-white"><%= notice %></p>

  <!--<p class="alert"><%= alert %></p> -->

  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">
    </div>
    </div>
  </header>
    <%= yield %>

  </body>
</html>